In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('ar_properties.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 25 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   id               1000000 non-null  object
 1   ad_type          1000000 non-null  object
 2   start_date       1000000 non-null  object
 3   end_date         1000000 non-null  object
 4   created_on       1000000 non-null  object
 5   lat              849189 non-null   float64
 6   lon              848255 non-null   float64
 7   l1               1000000 non-null  object
 8   l2               1000000 non-null  object
 9   l3               946673 non-null   object
 10  l4               239496 non-null   object
 11  l5               5001 non-null     object
 12  l6               0 non-null        float64
 13  rooms            526423 non-null   float64
 14  bedrooms         466213 non-null   float64
 15  bathrooms        776733 non-null   float64
 16  surface_total    379501 non-null   float64
 17  surface_covered  381451 non-null   float64
 18  price            963098 non-null   float64
 19  currency         961719 non-null   object
 20  price_period     363015 non-null   object
 21  title            1000000 non-null  object
 22  description      999982 non-null   object
 23  property_type    1000000 non-null  object
 24  operation_type   1000000 non-null  object
dtypes: float64(9), object(16)
memory usage: 190.7+ MB

In [4]:
(df.isna().sum() / len(df) * 100).round(2)

id                   0.00
ad_type              0.00
start_date           0.00
end_date             0.00
created_on           0.00
lat                 15.08
lon                 15.17
l1                   0.00
l2                   0.00
l3                   5.33
l4                  76.05
l5                  99.50
l6                 100.00
rooms               47.36
bedrooms            53.38
bathrooms           22.33
surface_total       62.05
surface_covered     61.85
price                3.69
currency             3.83
price_period        63.70
title                0.00
description          0.00
property_type        0.00
operation_type       0.00
dtype: float64

In [5]:
df.drop(columns=['l6','l5','l4','price_period'], inplace=True)

In [6]:
(df.isna().sum() / len(df) * 100).round(2)

id                  0.00
ad_type             0.00
start_date          0.00
end_date            0.00
created_on          0.00
lat                15.08
lon                15.17
l1                  0.00
l2                  0.00
l3                  5.33
rooms              47.36
bedrooms           53.38
bathrooms          22.33
surface_total      62.05
surface_covered    61.85
price               3.69
currency            3.83
title               0.00
description         0.00
property_type       0.00
operation_type      0.00
dtype: float64

In [7]:
property = {
    'rooms' : df['rooms'].median(),
    'bedrooms' : df['bedrooms'].median(),
    'bathrooms' : df['bathrooms'].median(),
    'surface_total' : df['surface_total'].median(),
    'surface_covered' : df['surface_covered'].median()
}

In [8]:
df2 = df.fillna(property)

In [9]:
df2['surface_covered'].unique()

array([ 350., 1541., 1000., ..., 2230., 4435., 1031.])

In [10]:
(df2.isna().sum() / len(df2) * 100).round(2)

id                  0.00
ad_type             0.00
start_date          0.00
end_date            0.00
created_on          0.00
lat                15.08
lon                15.17
l1                  0.00
l2                  0.00
l3                  5.33
rooms               0.00
bedrooms            0.00
bathrooms           0.00
surface_total       0.00
surface_covered     0.00
price               3.69
currency            3.83
title               0.00
description         0.00
property_type       0.00
operation_type      0.00
dtype: float64

In [11]:
pd.options.display.max_columns=999

In [12]:
df2[(df2['price'].isna()) & (df2['l1'] == 'Argentina')]

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,wdQ5hWhv8P14T7Sh9g4QCg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-32.716652,-68.642692,Argentina,Mendoza,NaN,3.0,2.0,1.0,350.0,350.0,NaN,NaN,Excelentes Lotes Sobre Ruta 34,Corredor Responsable: VICTOR E. MONTIVERO - C....,Lote,Venta
1,nnMBYZ4RMRY+vm753EtA+g==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-24.797723,-65.467514,Argentina,Salta,NaN,3.0,2.0,1.0,1541.0,1541.0,NaN,NaN,TERRENO + VENTA + JARDINES DE SAN LORENZO +150...,Corredor Responsable: Pablo Castañeda - C.U.C....,Lote,Venta
2,+dnVA1K6JxzL1zAjOEQ1pA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919373,-58.020591,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,1000.0,1000.0,NaN,NaN,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
3,dLHXKN5/sRZpm9Yk0yI2nA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919455,-58.024807,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,1000.0,1000.0,NaN,NaN,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
4,wtw/k887EPipd37UYHKb1Q==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-34.364924,-58.783143,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,3.0,2.0,1.0,18164.0,18164.0,NaN,NaN,PANAMERICANA 47300,Nave principal 66 x 90 m: 6005 m2 cubiertos...,Otro,Venta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996885,5HRztaNeXH5Df7oKVZaqmQ==,Propiedad,2020-05-12,9999-12-31,2020-05-12,-34.575921,-58.421206,Argentina,Capital Federal,Palermo,4.0,3.0,3.0,130.0,130.0,NaN,NaN,Torre Quartier Oro / Depto 4amb. / Sup.130m2 ...,"Departamento 4 AMBIENTES en Palermo, Capital ...",Departamento,Venta
996886,vxGuAAcmNGmLWCB8sTjysg==,Propiedad,2020-05-12,2020-11-23,2020-05-12,-37.114719,-56.858004,Argentina,Buenos Aires Costa Atlántica,Pinamar,4.0,3.0,2.0,95.0,76.0,NaN,NaN,4 Ambientes Centro y Cochera,Condiciones de alquiler: Los precios publicado...,Departamento,Alquiler temporal
996887,+PGyPHbKV4dLKJ69YQc/JQ==,Propiedad,2020-05-12,2020-10-29,2020-05-12,-37.115027,-56.857950,Argentina,Buenos Aires Costa Atlántica,Pinamar,4.0,3.0,2.0,95.0,76.0,NaN,NaN,Departamento 4 Amb. centro. vista al mar !,Condiciones de alquiler: Los valores publicado...,Departamento,Alquiler temporal
996888,xpa3t/yD0UDEmmmsrAtjOw==,Propiedad,2020-05-12,2020-06-30,2020-05-12,-32.933997,-60.650598,Argentina,Santa Fe,Rosario,5.0,3.0,4.0,200.0,200.0,NaN,NaN,Oroño y Guemes | 3 Dormitios | 2 Cocheras,Calidad Premium.Piso exclusivo con el mejor di...,Departamento,Venta
996889,X0fhw8622iegOrnwhtFJnA==,Propiedad,2020-05-12,2020-12-03,2020-05-12,-32.918020,-60.835068,Argentina,Santa Fe,Funes,3.0,5.0,3.0,5006.0,480.0,NaN,NaN,VENTA - FUNES Garita 14 Importante Propiedad d...,"Venta: Funes, sobre ruta 9. (Garita 14/15)Cons...",Casa,Venta

In [13]:
df2['currency'].unique()

array([nan, 'ARS', 'USD', 'UYU', 'PEN'], dtype=object)

In [14]:
currency = {
    'currency' :'ARS',
    'price' : df2['price'].median()
}

In [15]:
df3 = df2.fillna(currency)

In [16]:
(df3.isna().sum() / len(df3) * 100).round(2)

id                  0.00
ad_type             0.00
start_date          0.00
end_date            0.00
created_on          0.00
lat                15.08
lon                15.17
l1                  0.00
l2                  0.00
l3                  5.33
rooms               0.00
bedrooms            0.00
bathrooms           0.00
surface_total       0.00
surface_covered     0.00
price               0.00
currency            0.00
title               0.00
description         0.00
property_type       0.00
operation_type      0.00
dtype: float64

In [17]:
map = {
    'lat' : df3['lat'].median(),
    'lon' : df3['lon'].median()
}

In [18]:
df4 = df3.fillna(map)

In [19]:
(df4.isna().sum() / len(df4) * 100).round(2)

id                 0.00
ad_type            0.00
start_date         0.00
end_date           0.00
created_on         0.00
lat                0.00
lon                0.00
l1                 0.00
l2                 0.00
l3                 5.33
rooms              0.00
bedrooms           0.00
bathrooms          0.00
surface_total      0.00
surface_covered    0.00
price              0.00
currency           0.00
title              0.00
description        0.00
property_type      0.00
operation_type     0.00
dtype: float64

In [20]:
df5 = df4.dropna()

In [21]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 946658 entries, 2 to 999986
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               946658 non-null  object
 1   ad_type          946658 non-null  object
 2   start_date       946658 non-null  object
 3   end_date         946658 non-null  object
 4   created_on       946658 non-null  object
 5   lat              946658 non-null  float64
 6   lon              946658 non-null  float64
 7   l1               946658 non-null  object
 8   l2               946658 non-null  object
 9   l3               946658 non-null  object
 10  rooms            946658 non-null  float64
 11  bedrooms         946658 non-null  float64
 12  bathrooms        946658 non-null  float64
 13  surface_total    946658 non-null  float64
 14  surface_covered  946658 non-null  float64
 15  price            946658 non-null  float64
 16  currency         946658 non-null  object
 17  title            946658 non-null  object
 18  description      946658 non-null  object
 19  property_type    946658 non-null  object
 20  operation_type   946658 non-null  object
dtypes: float64(8), object(13)
memory usage: 158.9+ MB

In [22]:
(df5.isna().sum() / len(df5) * 100).round(2)

id                 0.0
ad_type            0.0
start_date         0.0
end_date           0.0
created_on         0.0
lat                0.0
lon                0.0
l1                 0.0
l2                 0.0
l3                 0.0
rooms              0.0
bedrooms           0.0
bathrooms          0.0
surface_total      0.0
surface_covered    0.0
price              0.0
currency           0.0
title              0.0
description        0.0
property_type      0.0
operation_type     0.0
dtype: float64

In [23]:
df5['bedrooms'].unique()

array([  2.,   1.,   3.,   4.,   0.,   5.,  12.,   6.,   8.,  11.,   7.,
        10.,  19.,  15.,   9.,  14.,  22.,  23.,  18.,  40.,  99.,  17.,
        20.,  13.,  -1.,  45.,  28.,  21.,  33.,  31.,  85.,  25., 370.,
        42.,  70.,  24.,  30.,  76.,  35.,  16.,  39.,  47.,  34., 129.,
        27.,  66.,  51.,  41.,  44.,  36.,  32.,  74.,  49.,  37., 127.,
        60.,  48.,  26.,  50., -16.,  38.,  62.,  29.,  43., 335., 100.,
        -2., 900., 154.])

In [24]:
Q1 = df5.describe()['bedrooms']['25%']
Q3 = df5.describe()['bedrooms']['75%']

In [25]:
IQR = Q3 - Q1

In [26]:
lower_bed = Q1 - (1.5 * IQR)
upper_bed = Q3 + (1.5 * IQR)

In [27]:
outlier_bed = df5[(df5['bedrooms'] < lower_bed) | (df5['bedrooms'] > upper_bed)]
outlier_bed

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
9,2LYMXj1wkHEcCjXc7XBN9Q==,Propiedad,2020-12-25,2021-03-05,2020-12-25,-34.585780,-58.423864,Argentina,Capital Federal,Palermo,3.0,1.0,1.0,95.0,76.0,98000.0,ARS,DEPARTAMENTO EN VENTA,Muy lindo monoambiente al contrafrente.\n<br>C...,Departamento,Venta
10,raShnoQBxqJDC1yGOYGuGA==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-37.312976,-59.126180,Argentina,Buenos Aires Interior,Tandil,1.0,1.0,1.0,95.0,76.0,98000.0,ARS,Departamento Moreno - Departamento para 2 a 4 ...,Departamento Moreno - Departamento para 2 a 4 ...,Departamento,Alquiler temporal
11,uYRYZl/8/lt7sMzs/9efOg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-31.423485,-64.496458,Argentina,Córdoba,Córdoba,1.0,1.0,1.0,95.0,76.0,98000.0,ARS,"Departamento céntrico con pileta, asadores y c...","Departamento céntrico con pileta, asadores y c...",Departamento,Alquiler temporal
12,e1Qi5/Anm22rmLZHcQ/6Sg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-31.651437,-60.699646,Argentina,Santa Fe,Santa Fe,1.0,1.0,1.0,38.0,38.0,98000.0,ARS,MONOAMBIENTE EQUIPADO PUERTO AMARRAS C/VISTA RÍO,Corredor Responsable: Caroline Hogner - CCI St...,Departamento,Venta
13,Kzc1P2vPsC18Qj5oo/DBrQ==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-31.426011,-64.497355,Argentina,Córdoba,Villa Carlos Paz,1.0,1.0,1.0,95.0,76.0,98000.0,ARS,Tomy II Complejo de Departamentos - Departamen...,Tomy II Complejo de Departamentos - Departamen...,Departamento,Alquiler temporal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999977,3G/cvrya9eXZhMNPlIHwwQ==,Propiedad,2020-05-12,9999-12-31,2020-05-12,-34.863213,-58.392490,Argentina,Bs.As. G.B.A. Zona Sur,Almirante Brown,7.0,6.0,2.0,95.0,76.0,100000.0,USD,"Casa en Venta en Longchamps, almirante brown ...",SOBRE LA CALLE SAN MARTIN Nº1.025 ENTRE CARLOS...,Casa,Venta
999978,NMZTx5HyF+UGZTe4jeltSg==,Propiedad,2020-05-12,2020-09-15,2020-05-12,-34.650058,-58.425415,Argentina,Capital Federal,Pompeya,7.0,6.0,2.0,95.0,76.0,310000.0,USD,"Oficina en Venta en Pompeya, Capital federal U...",Sup total del terreno: 199.18 m2\n\na 1 cuadra...,Oficina,Venta
999979,jv4GGNaOj/Z506CJFuiPUw==,Propiedad,2020-05-12,2020-05-20,2020-05-12,-34.602115,-58.405980,Argentina,Capital Federal,Once,8.0,7.0,1.0,180.0,180.0,299001.0,USD,Depto.tipo casa de 8 ambientes en Venta en Once,Departamento tipo casa a reciclar primer piso ...,PH,Venta
999980,zLEstdC80JAinfcLGQz5/Q==,Propiedad,2020-05-12,2020-05-20,2020-05-12,-34.415320,-58.645990,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,3.0,7.0,8.0,800.0,800.0,3800000.0,USD,Casa en venta al lago central,Imponente casa en la mejor cuadra del barrio E...,Casa,Venta
999981,DR1hpjFCmwmOlJdTp3+QrA==,Propiedad,2020-05-12,2020-06-29,2020-05-12,-34.572330,-58.428629,Argentina,Capital Federal,Palermo,11.0,8.0,8.0,593.0,587.0,2550000.0,USD,Departamento - Las Cañitas,Se trata de una propiedad en pleno corazón del...,Departamento,Venta

In [28]:
outlier_bed['bedrooms'].unique()

array([  1.,   3.,   4.,   0.,   5.,  12.,   6.,   8.,  11.,   7.,  10.,
        19.,  15.,   9.,  14.,  22.,  23.,  18.,  40.,  99.,  17.,  20.,
        13.,  -1.,  45.,  28.,  21.,  33.,  31.,  85.,  25., 370.,  42.,
        70.,  24.,  30.,  76.,  35.,  16.,  39.,  47.,  34., 129.,  27.,
        66.,  51.,  41.,  44.,  36.,  32.,  74.,  49.,  37., 127.,  60.,
        48.,  26.,  50., -16.,  38.,  62.,  29.,  43., 335., 100.,  -2.,
       900., 154.])

In [29]:
df6 = df5[(df5['bedrooms'] > 0) & (df5['bedrooms'] < 6)]

In [30]:
df6

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
2,+dnVA1K6JxzL1zAjOEQ1pA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919373,-58.020591,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,1000.0,1000.0,98000.0,ARS,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
3,dLHXKN5/sRZpm9Yk0yI2nA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919455,-58.024807,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,1000.0,1000.0,98000.0,ARS,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
4,wtw/k887EPipd37UYHKb1Q==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-34.364924,-58.783143,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,3.0,2.0,1.0,18164.0,18164.0,98000.0,ARS,PANAMERICANA 47300,Nave principal 66 x 90 m: 6005 m2 cubiertos...,Otro,Venta
5,eYw+ClpuHC0Y5o5mycoxXA==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-34.601384,-58.372611,Argentina,Capital Federal,San Nicolás,3.0,2.0,6.0,95.0,1980.0,98000.0,ARS,Oficina - Centro (Capital Federal),Oficina / Consultorio con Cocheras en RECONQUI...,Oficina,Venta
6,UFmsxz8sSGfnOgA06GL+sg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-34.601384,-58.372611,Argentina,Capital Federal,San Nicolás,3.0,2.0,6.0,95.0,1980.0,98000.0,ARS,Oficina - Centro (Capital Federal),Excepcional Oficina en venta/alquiler,Oficina,Alquiler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999966,VhZaKf7uFS6BvO9tJlinDg==,Propiedad,2020-05-12,2020-08-24,2020-05-12,-34.756637,-58.409145,Argentina,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,6.0,5.0,2.0,95.0,76.0,240000.0,USD,"Casa en Venta en Lomas de zamora oeste, lomas...","Excelente Chalet en venta , la propiedad se en...",Casa,Venta
999967,Ibh4/GGySBkn25hfpGTjVw==,Propiedad,2020-05-12,2020-09-28,2020-05-12,-34.552132,-58.438501,Argentina,Capital Federal,Belgrano,6.0,5.0,5.0,580.0,580.0,1111111.0,USD,Casa en Forum Alcorta - Terraza con parrilla y...,"Casa en Forum Alcorta con pileta, quincho con ...",Departamento,Venta
999968,ouIC9qHmNHBPOdSv7d3WwQ==,Propiedad,2020-05-12,2020-05-25,2020-05-12,-34.800888,-58.391336,Argentina,Bs.As. G.B.A. Zona Sur,Almirante Brown,6.0,5.0,2.0,95.0,76.0,210000.0,USD,"Local en Venta en Adrogue, almirante brown U...",CASA EN EXCELENTE UBICACION IDEAL USO COMERCIA...,Local comercial,Venta
999985,O+3d58O/e1FXarQ8MiL0vw==,Propiedad,2020-05-12,9999-12-31,2020-05-12,-34.915348,-56.153870,Uruguay,Montevideo,Pocitos,3.0,2.0,1.0,40.0,42.0,35000.0,UYU,"Vendo o alquilo local comercial sobre Ellauri,...",Local comercial en excelente ubicación!<br><br...,Local comercial,Alquiler
999986,jDHX/qXX4MOmK7GB8yu77w==,Propiedad,2020-05-12,9999-12-31,2020-05-12,-34.915348,-56.153870,Uruguay,Montevideo,Pocitos,3.0,2.0,1.0,40.0,42.0,35000.0,UYU,"Vendo o alquilo local comercial sobre Ellauri,...",Local comercial en excelente ubicación!<br><br...,Local comercial,Alquiler

In [31]:
df7 = df6.drop('ad_type', axis=1)

In [32]:
df7.head()

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
2,+dnVA1K6JxzL1zAjOEQ1pA==,2020-12-25,2020-12-29,2020-12-25,-34.919373,-58.020591,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,1000.0,1000.0,98000.0,ARS,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
3,dLHXKN5/sRZpm9Yk0yI2nA==,2020-12-25,2020-12-29,2020-12-25,-34.919455,-58.024807,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,1000.0,1000.0,98000.0,ARS,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta
4,wtw/k887EPipd37UYHKb1Q==,2020-12-25,9999-12-31,2020-12-25,-34.364924,-58.783143,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,3.0,2.0,1.0,18164.0,18164.0,98000.0,ARS,PANAMERICANA 47300,Nave principal 66 x 90 m: 6005 m2 cubiertos...,Otro,Venta
5,eYw+ClpuHC0Y5o5mycoxXA==,2020-12-25,9999-12-31,2020-12-25,-34.601384,-58.372611,Argentina,Capital Federal,San Nicolás,3.0,2.0,6.0,95.0,1980.0,98000.0,ARS,Oficina - Centro (Capital Federal),Oficina / Consultorio con Cocheras en RECONQUI...,Oficina,Venta
6,UFmsxz8sSGfnOgA06GL+sg==,2020-12-25,9999-12-31,2020-12-25,-34.601384,-58.372611,Argentina,Capital Federal,San Nicolás,3.0,2.0,6.0,95.0,1980.0,98000.0,ARS,Oficina - Centro (Capital Federal),Excepcional Oficina en venta/alquiler,Oficina,Alquiler

In [33]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 912900 entries, 2 to 999986
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               912900 non-null  object
 1   start_date       912900 non-null  object
 2   end_date         912900 non-null  object
 3   created_on       912900 non-null  object
 4   lat              912900 non-null  float64
 5   lon              912900 non-null  float64
 6   l1               912900 non-null  object
 7   l2               912900 non-null  object
 8   l3               912900 non-null  object
 9   rooms            912900 non-null  float64
 10  bedrooms         912900 non-null  float64
 11  bathrooms        912900 non-null  float64
 12  surface_total    912900 non-null  float64
 13  surface_covered  912900 non-null  float64
 14  price            912900 non-null  float64
 15  currency         912900 non-null  object
 16  title            912900 non-null  object
 17  description      912900 non-null  object
 18  property_type    912900 non-null  object
 19  operation_type   912900 non-null  object
dtypes: float64(8), object(12)
memory usage: 146.3+ MB

In [34]:
df8 = df7[df7['end_date'] != '9999-12-31']

In [35]:
df8['start_date'] = pd.to_datetime(df8['start_date'])
df8['end_date'] = pd.to_datetime(df8['end_date'])

<ipython-input-35-977b87438da1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['start_date'] = pd.to_datetime(df8['start_date'])
<ipython-input-35-977b87438da1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['end_date'] = pd.to_datetime(df8['end_date'])

In [36]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713539 entries, 2 to 999968
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               713539 non-null  object
 1   start_date       713539 non-null  datetime64[ns]
 2   end_date         713539 non-null  datetime64[ns]
 3   created_on       713539 non-null  object
 4   lat              713539 non-null  float64
 5   lon              713539 non-null  float64
 6   l1               713539 non-null  object
 7   l2               713539 non-null  object
 8   l3               713539 non-null  object
 9   rooms            713539 non-null  float64
 10  bedrooms         713539 non-null  float64
 11  bathrooms        713539 non-null  float64
 12  surface_total    713539 non-null  float64
 13  surface_covered  713539 non-null  float64
 14  price            713539 non-null  float64
 15  currency         713539 non-null  object
 16  title            713539 non-null  object
 17  description      713539 non-null  object
 18  property_type    713539 non-null  object
 19  operation_type   713539 non-null  object
dtypes: datetime64[ns](2), float64(8), object(10)
memory usage: 114.3+ MB

In [37]:
df8.sample(10)

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
379546,OxGiHnONh4SwCktnLnU3gw==,2020-09-05,2020-12-09,2020-09-05,-34.603881,-58.432192,Argentina,Capital Federal,Villa Crespo,4.0,3.0,3.0,95.0,76.0,200000.0,USD,AMPLIO 4 AMBIENTES CON DEPENDENCIA EN VILLA CR...,OPORTUNIDAD!!\nHermoso semidiós de 4 ambientes...,Departamento,Venta
385243,DDq3iwyR36mbfg4SqsjTAA==,2020-11-17,2020-12-14,2020-11-17,-34.611445,-58.448442,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,3.0,2.0,1.0,95.0,76.0,220000.0,USD,Lote único al agua. Más de 1200 mts . Barrio S...,MAM. (2) <br>Espectacular Lote a la laguna . M...,Lote,Venta
406094,v4TrApQN/G/VVyZWTjuAfA==,2020-11-18,2020-12-02,2020-11-18,-31.425079,-64.141921,Argentina,Córdoba,Córdoba,4.0,2.0,1.0,175.0,105.0,25000.0,USD,CASA DOS DORMITORIOS CON PATIO-SAN VICENTE,Corredor Responsable: Mariana Carrizo - CPCPI:...,Casa,Venta
890786,4O72IrZBPETJIGTE/n7Ixg==,2020-04-05,2020-04-05,2020-04-05,-38.019938,-57.564676,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,3.0,2.0,1.0,95.0,76.0,60000.0,USD,LOCAL SAN LUIS 4300,"LOCAL CON UN PRIVADO, TIPO CHALET CON TECHO A ...",Otro,Venta
176629,vfCA43KHOna7qTpURQ1TIg==,2020-01-29,2020-04-27,2020-01-29,-34.920736,-57.937239,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,95.0,76.0,85000.0,USD,VENTA DE MONOAMBIENTE 5 entre 62 Y 63,Monoambiente en venta en calle 5 entre 62 y 63...,Departamento,Venta
339539,dND0CTXfanwd39BhFx2rpg==,2020-03-25,2020-04-28,2020-03-25,-38.034043,-57.549261,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,3.0,2.0,3.0,95.0,76.0,320000.0,USD,Venta Solido Chalet 6 Ambientes Garage Patio S...,Se vende hermoso chalet construido por su actu...,Otro,Venta
908863,o00Tbf9H4lzy+f8Q35qnAw==,2020-03-18,2020-03-19,2020-03-18,-34.545761,-58.511486,Argentina,Bs.As. G.B.A. Zona Norte,Vicente López,4.0,3.0,1.0,90.0,65.0,25000.0,ARS,PH 4 amb c/ piscina y parrilla - Villa Martelli,"PH 4 ambientes con patio y piscina, a cuatro c...",PH,Alquiler
971790,99eSTY5u0AOTl/FPVlaE1Q==,2020-06-30,2020-10-02,2020-06-30,-34.314610,-58.770046,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,3.0,2.0,2.0,160.0,140.0,175000.0,USD,Albert Schweitzer 700 - U$D 175.000 - Casa en...,Se escuchan propuestas!En el Barrio residencia...,Casa,Venta
667677,RB3aN2Va7eskBzwrg4AGMA==,2020-02-16,2020-02-17,2020-02-16,-37.974258,-57.574299,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,3.0,2.0,2.0,95.0,76.0,130000.0,USD,"Chalet 3 Amb. gar. 2. Quincho, Villa Primera","En Barrio Villa Primera, con excelente entorno...",Otro,Venta
460024,1VU8g61GsJBRbtSanR7Vmw==,2020-11-03,2020-11-06,2020-11-03,-34.442943,-58.554351,Argentina,Bs.As. G.B.A. Zona Norte,San Fernando,2.0,2.0,1.0,95.0,76.0,16500.0,ARS,Departamento en Alquiler ubicado en San Ferna...,A mts. Constitución. Depto. de 2 AMB.: Living ...,Departamento,Alquiler

In [38]:
df8['days_process'] = df8['end_date'].sub(df8['start_date'], axis=0)

<ipython-input-38-27fee1cce934>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['days_process'] = df8['end_date'].sub(df8['start_date'], axis=0)

In [39]:
df8['days_process'] = df8['days_process']  / np.timedelta64(1, 'D')

<ipython-input-39-e2292d53ba2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['days_process'] = df8['days_process']  / np.timedelta64(1, 'D')

In [40]:
df8['days_process'].unique()

array([  4.,   5.,  70.,  37.,  13.,   1.,  15.,  42.,  50.,   8.,  11.,
        10.,  14.,   0.,   7.,  47.,  20.,  12.,  18.,  46.,   9.,  16.,
        32.,  23.,  75.,   3.,   2.,  51.,  19.,  17.,  64.,  49.,  57.,
        38.,  39.,  69.,  54.,  30.,  59.,  45.,  72.,  62.,  61.,  25.,
        66.,  34.,  40.,  74.,  76.,  24.,  33.,  22.,  73.,  65.,   6.,
        41.,  29.,  31.,  68.,  55.,  53.,  43.,  56.,  28.,  21.,  35.,
        26.,  36.,  63.,  58.,  48.,  78., 141., 142.,  87., 129., 134.,
        92., 150.,  96., 107., 106., 124.,  90., 136., 131., 112.,  82.,
        52.,  88., 130., 127., 120., 135.,  95., 144.,  44., 122., 100.,
       116.,  77., 114.,  80.,  67., 128., 137.,  98.,  79., 154., 132.,
        27., 125.,  85., 108., 143., 111., 145., 115., 123., 139.,  71.,
        93., 151., 207.,  91., 163., 209.,  60., 208., 205., 196., 118.,
       117., 101., 110., 149., 199., 155.,  86., 159., 211., 183., 140.,
       146., 156., 113., 104.,  83.,  99., 102., 259., 198., 153., 152.,
       177., 249., 190., 166., 188., 247., 263., 121., 260., 103., 105.,
       157., 179., 225., 218., 213., 241., 231., 248., 217., 158., 234.,
       261., 243., 224., 109., 222.,  81., 162., 195., 126., 226.,  94.,
       176., 255., 214., 189., 242., 215., 180., 220., 147., 167., 119.,
       178., 228.,  89., 202., 148., 164.,  84., 165., 169., 238., 197.,
       191., 256., 172., 240., 203., 138., 250., 186., 262., 266., 170.,
       268., 210., 161., 173., 221., 192., 275., 232., 254., 193., 174.,
       350., 352., 185., 235., 230.,  97., 168., 340., 293., 160., 182.,
       181., 204., 237., 370., 245., 349., 187., 175., 335., 326., 276.,
       280., 399., 396., 400., 311., 397., 258., 337., 300., 320., 271.,
       362., 200., 229., 321., 332., 212., 296., 272., 343., 194., 402.,
       394., 233., 265., 291., 278., 253., 298., 236., 289., 133., 206.,
       345., 201., 184., 223., 366., 283., 319., 348., 342., 301., 358.,
       368., 336., 290., 302., 408., 324., 361., 369., 389., 374., 314.,
       406., 360., 277., 171., 244., 331., 285., 306., 251., 219., 252.,
       239., 288., 308., 267., 287., 297., 299., 282., 274., 216., 279.,
       310., 421., 390., 425., 292., 372., 435., 316., 227., 341., 393.,
       286., 257., 246., 305., 294., 303., 312., 270., 273., 264., 381.,
       405., 410., 317., 398., 364., 357., 313., 353., 323., 376., 295.,
       269., 304., 281., 351., 346., 355., 309., 347., 354., 284., 371.,
       329., 383., 325., 330., 344., 322., 333., 386., 307., 387., 375.,
       392., 407., 334., 377., 391., 404., 363., 403., 356., 367., 395.,
       339., 384., 315., 318., 430., 365., 385., 388., 401., 418., 415.,
       433., 434., 359., 380., 327., 373., 411., 338., 414., 419., 382.,
       378., 432., 427., 416., 328., 426., 431., 409., 443., 437., 417.,
       422., 420., 413., 436., 439., 424., 441., 412., 423., 379., 440.,
       444., 428., 438.])

In [41]:
df9 = df8[df8['bathrooms'] < 5]

## https://www.pinhome.id/kamus-istilah-properti/tipe-rumah/

In [42]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702994 entries, 2 to 999968
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               702994 non-null  object
 1   start_date       702994 non-null  datetime64[ns]
 2   end_date         702994 non-null  datetime64[ns]
 3   created_on       702994 non-null  object
 4   lat              702994 non-null  float64
 5   lon              702994 non-null  float64
 6   l1               702994 non-null  object
 7   l2               702994 non-null  object
 8   l3               702994 non-null  object
 9   rooms            702994 non-null  float64
 10  bedrooms         702994 non-null  float64
 11  bathrooms        702994 non-null  float64
 12  surface_total    702994 non-null  float64
 13  surface_covered  702994 non-null  float64
 14  price            702994 non-null  float64
 15  currency         702994 non-null  object
 16  title            702994 non-null  object
 17  description      702994 non-null  object
 18  property_type    702994 non-null  object
 19  operation_type   702994 non-null  object
 20  days_process     702994 non-null  float64
dtypes: datetime64[ns](2), float64(9), object(10)
memory usage: 118.0+ MB

In [43]:
df9['operation_type'].unique()

array(['Venta', 'Alquiler', 'Alquiler temporal'], dtype=object)

In [44]:
df9['operation_type'] = df9['operation_type'].map({'Venta' : 'Sale', 'Alquiler' : 'Rental', 'Alquiler temporal' : 'Temporary rental'})

<ipython-input-44-99a0a9e091a7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['operation_type'] = df9['operation_type'].map({'Venta' : 'Sale', 'Alquiler' : 'Rental', 'Alquiler temporal' : 'Temporary rental'})

In [45]:
df9['property_type'].unique()

array(['Lote', 'Depósito', 'Departamento', 'Otro', 'Oficina', 'Casa',
       'Cochera', 'Local comercial', 'PH', 'Casa de campo'], dtype=object)

In [46]:
df9['property_type'] = df9['property_type'].map({'Lote': 'Lot', 'Depósito' : 'Warehouse', 'Departamento' : 'Department', 'Otro' : 'Other', 'Oficina' : 'Office', 'Casa' : 'House', 'Cochera' : 'Garage', 'Local comercial' : 'Commercial premises', 'PH' : 'Property Horizontal', 'Casa de campo' : 'Country house'})

<ipython-input-46-d2fd2e7741cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['property_type'] = df9['property_type'].map({'Lote': 'Lot', 'Depósito' : 'Warehouse', 'Departamento' : 'Department', 'Otro' : 'Other', 'Oficina' : 'Office', 'Casa' : 'House', 'Cochera' : 'Garage', 'Local comercial' : 'Commercial premises', 'PH' : 'Property Horizontal', 'Casa de campo' : 'Country house'})

In [47]:
df9.sample(5)

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type,days_process
368485,pz7dltIPt+Zo3rcIltSH3g==,2020-09-20,2020-10-30,2020-09-20,-34.606994,-58.430527,Argentina,Capital Federal,Almagro,1.0,1.0,1.0,43.0,40.0,103000.0,USD,Hermoso mono ambiente a estrenar en Parque cen...,Hermoso departamento de un ambiente en Parqu...,Department,Sale,40.0
262561,wDQybLmm0H7E98psoYb4aA==,2020-05-20,2020-05-20,2020-05-20,-34.757363,-58.400537,Argentina,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,2.0,1.0,1.0,95.0,76.0,118000.0,USD,Departamento en Venta en Lomas de zamora oeste...,WWW.HERNANDOPROP.COM.AR\nINSTAGRAM : HERNANDOE...,Department,Sale,0.0
955455,uZaykGcZEGPDK5dUs2WV6A==,2020-05-06,2020-10-06,2020-05-06,-34.611445,-58.448442,Argentina,Santa Fe,Rosario,3.0,2.0,1.0,95.0,76.0,1182000.0,ARS,Venta en Barrio Abierto Ecovida. Terreno de 30...,COMPRA TU TERRENO EN CUOTAS FIJAS EN PESOS! \n...,Lot,Sale,153.0
939068,XZuZbNhwwfr/QyMnsR1TeQ==,2020-04-10,2020-04-11,2020-04-10,-38.018081,-57.547877,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,3.0,2.0,1.0,95.0,76.0,269000.0,USD,Dpto 3 amb en Edificio de Categoria,Excelente departamento de 3 ambientes de 90mts...,Other,Sale,1.0
884349,LLVeiWLhL1Mom3qbONN8jg==,2020-06-17,2020-12-03,2020-06-17,-34.601242,-58.540523,Argentina,Bs.As. G.B.A. Zona Oeste,Tres de Febrero,2.0,1.0,1.0,95.0,76.0,75000.0,USD,Venta Depto de 2 amb en Santos Lugares,"Dr. Ceraso 1481, Santos Lugares. <br />\nDepto...",Department,Sale,169.0

In [48]:
df_uyu = df9[df9['currency'] == 'UYU']

In [49]:
df_uyu['price'] = df_uyu['price'] / 41.42

<ipython-input-49-6665205c3277>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uyu['price'] = df_uyu['price'] / 41.42

In [50]:
df_pen = df9[df9['currency'] == 'PEN']

In [51]:
df_pen['price'] = df_pen['price'] / 3.7

<ipython-input-51-f63229d0d87f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pen['price'] = df_pen['price'] / 3.7

In [52]:
df_ars = df9[df9['currency'] == 'ARS']

In [53]:
df_ars['price'] = df_ars['price'] / 111.84

<ipython-input-53-ead1ca7a56e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ars['price'] = df_ars['price'] / 111.84

## https://www.xe.com/currencyconverter/

In [54]:
df_usd = df9[df9['currency'] == 'USD']

In [55]:
df10 = pd.concat([df_pen,df_ars,df_uyu,df_usd])

In [56]:
df10['price'] = df10['price'].round(0)

In [57]:
df10.head(20)

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type,days_process
586,G0GOoIHpWAr8eM6Ku7y8yQ==,2021-01-01,2021-01-12,2021-01-01,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,3.0,95.0,76.0,384324.0,PEN,Departamento - CHACARILLA,HERMOSO departamento de 220 metros cuadrados e...,Department,Sale,11.0
1280,mg13phdJ3yvt+Du8TJDe/w==,2020-10-12,2020-10-25,2020-10-12,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,1.0,95.0,76.0,355743.0,PEN,Terreno - Grocio Prado,"Terreno en Grossio Prado, La Pampa, Perú, por ...",Lot,Sale,13.0
1281,2WOAOu3bpLkBFf33Ny1MSg==,2020-10-12,2020-11-28,2020-10-12,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,1.0,95.0,76.0,337909.0,PEN,Se Vende Terreno - Pachacamac,Se vende Terreno (terreno completo) ubicado en...,Lot,Sale,47.0
3053,qrhJMi+6vfSRCH7KMGuKzQ==,2020-11-15,2020-11-22,2020-11-15,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,2.0,95.0,76.0,298405.0,PEN,Departamento - Lince,Departamento con Pavimento en Calle Luis Paste...,Department,Sale,7.0
25959,rsvv4oH6n39tWLNdPx+Xxw==,2020-11-27,2021-01-10,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,1.0,1.0,95.0,76.0,627.0,PEN,Departamento - Santiago de Surco,Santiago de Surco · $650 · 55 M²· 1dorm· 1baño...,Department,Rental,44.0
25960,vGIZr0IQyvaWjO70eS7BEw==,2020-11-27,2020-12-03,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,1.0,1.0,35.0,76.0,384.0,PEN,Barranco · 35 m² · $400 · 1dorm · Frente Al Pa...,Barranco · 35 m² · $400· 1dorm · Frente Al Par...,Department,Rental,6.0
25961,FCJslAlljTdSPZdU8oPQng==,2020-11-27,2020-11-27,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,3.0,130.0,76.0,411351.0,PEN,Miraflores · 130 m² · $430.000 · Vista Al Mar ...,Miraflores · 130 m² · $430.000 · Vista Al Mar ...,Department,Sale,0.0
25962,NnLSbce+5M+czGEZplPf7w==,2020-11-27,2021-01-12,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,2.0,170.0,76.0,246027.0,PEN,Departamento - San Bartolo,"Se vende departamento Triplex de estreno, en e...",Department,Sale,46.0
25963,D5nHWJTi+Bv/93QIJ0mgEg==,2020-11-27,2021-01-12,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,2.0,110.0,76.0,202622.0,PEN,Se vende departamento en San Bartolo,Ocean Reef San Bartolo · $210.000 · 110 m² · F...,Department,Sale,46.0
25964,9AFsgtJGpt9KGKym6Clw8w==,2020-11-27,2021-01-10,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,3.0,196.0,76.0,1432.0,PEN,Miraflores · 196 m² · $1500 · 03dorm · Vista A...,Miraflores ·196 m² ·$1500 · 03dorm · Vista Al ...,Department,Rental,44.0
25965,4XUu3Xi5mSSZlNfP5S0rZA==,2020-11-27,2020-11-27,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,3.0,95.0,76.0,432433.0,PEN,Miraflores· 300 Mt· Ph· Duplex· 3 Dorm· Jacuzz...,Miraflores· 300 Mt· Ph· Duplex· 3 Dorm· Jacuzz...,Department,Sale,0.0
30051,1TtbxBHNlQo2hZf5ArRQhQ==,2020-05-23,2020-06-25,2020-05-23,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,2.0,130.0,130.0,405.0,PEN,MINIDEPA AMOBLADO CAYMA,Se alquila bonito mini departamento amoblado e...,Department,Rental,33.0
30052,EsIR5heEJWRvUSKARMyEnA==,2020-05-23,2020-06-25,2020-05-23,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,4.0,2.0,130.0,130.0,459.0,PEN,DEPA AMOBLADO CAYMA,Se alquila bonito departamento amoblado en 4to...,Department,Rental,33.0
42920,5nB+PBisizvSGx6C8gzGdw==,2020-10-17,2020-10-18,2020-10-17,-34.611445,-58.448442,Argentina,La Pampa,Perú,4.0,1.0,1.0,50.0,50.0,111622.0,PEN,Departamento - Miraflores,Maravilloso departamento en venta o alquiler ...,Department,Sale,1.0
59614,ir3PxdnfkQAFJxwZSURuHQ==,2020-07-22,2020-12-12,2020-07-22,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,1.0,180.0,180.0,61486.0,PEN,Terreno - Asia,Invierte en el mejor terreno de playa en exclu...,Lot,Sale,143.0
59615,/GDJwy8NzESmTWsyJCQO4g==,2020-07-22,2020-12-02,2020-07-22,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,1.0,46.0,46.0,541.0,PEN,Departamento - SANTA CATALINA,Hermoso departamento en alquiler<br>con excele...,Department,Rental,133.0
70116,4TP4q1vDIeA0DtpgBfDk1g==,2020-09-13,2021-01-14,2020-09-13,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,3.0,97.0,97.0,220676.0,PEN,Departamento en venta Magdalena,Hermoso departamento en venta en la mejor zona...,Department,Sale,123.0
70649,qgQBZKRx5S7gqoyHX03rXg==,2020-09-13,2020-11-19,2020-09-13,-34.611445,-58.448442,Argentina,La Pampa,Perú,7.0,3.0,2.0,70.0,70.0,60446.0,PEN,Departamento - Rímac,El mejor edificio de la zona! Ideal para que d...,Department,Sale,67.0
73099,bUIm0NdD3mJnq/0v8+5QEw==,2020-10-04,2020-11-23,2020-10-04,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,2.0,70.0,68.0,82532.0,PEN,Se vende moderno departamento NUEVO en Altos B...,El “Condominio Alto Benavides” es el lugar ide...,Department,Sale,50.0
87690,Y/1sUhZ5+KXqf8OvI+eHcQ==,2020-12-27,2021-01-12,2020-12-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,3.0,238.0,76.0,929459.0,PEN,Casa en Venta- San Isidro,"Casa de 2 pisos, azotea y estacionamiento.<br>...",House,Sale,16.0

In [58]:
df10 = df10.drop('currency', axis=1)

In [59]:
df10

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,title,description,property_type,operation_type,days_process
586,G0GOoIHpWAr8eM6Ku7y8yQ==,2021-01-01,2021-01-12,2021-01-01,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,3.0,3.0,95.0,76.0,384324.0,Departamento - CHACARILLA,HERMOSO departamento de 220 metros cuadrados e...,Department,Sale,11.0
1280,mg13phdJ3yvt+Du8TJDe/w==,2020-10-12,2020-10-25,2020-10-12,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,1.0,95.0,76.0,355743.0,Terreno - Grocio Prado,"Terreno en Grossio Prado, La Pampa, Perú, por ...",Lot,Sale,13.0
1281,2WOAOu3bpLkBFf33Ny1MSg==,2020-10-12,2020-11-28,2020-10-12,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,1.0,95.0,76.0,337909.0,Se Vende Terreno - Pachacamac,Se vende Terreno (terreno completo) ubicado en...,Lot,Sale,47.0
3053,qrhJMi+6vfSRCH7KMGuKzQ==,2020-11-15,2020-11-22,2020-11-15,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,2.0,2.0,95.0,76.0,298405.0,Departamento - Lince,Departamento con Pavimento en Calle Luis Paste...,Department,Sale,7.0
25959,rsvv4oH6n39tWLNdPx+Xxw==,2020-11-27,2021-01-10,2020-11-27,-34.611445,-58.448442,Argentina,La Pampa,Perú,3.0,1.0,1.0,95.0,76.0,627.0,Departamento - Santiago de Surco,Santiago de Surco · $650 · 55 M²· 1dorm· 1baño...,Department,Rental,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999958,hi9ir/kf7am5G37vbb+qow==,2020-05-12,2020-05-20,2020-05-12,-34.599085,-58.449254,Argentina,Capital Federal,Villa Crespo,3.0,5.0,2.0,253.0,150.0,220001.0,Casa de 6 ambientes en Venta en Villa crespo,CASA CON LOCAL EN FUNCIONAMIENTO 2 PLANTAS ES ...,House,Sale,8.0
999961,pxzXDe7cxbiXY+UDpVJoRQ==,2020-05-12,2020-05-25,2020-05-12,-34.800888,-58.391336,Argentina,Bs.As. G.B.A. Zona Sur,Almirante Brown,6.0,5.0,2.0,95.0,76.0,210000.0,"Casa en Venta en Adrogue, almirante brown U$...",CASA EN EXCELENTE UBICACION IDEAL USO COMERCIA...,House,Sale,13.0
999965,arnVUpca2yXSk/sUEgaUgw==,2020-05-12,2020-08-24,2020-05-12,-34.737364,-58.421386,Argentina,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,6.0,5.0,2.0,95.0,76.0,135000.0,"Casa en Venta en Banfield oeste, banfield U$...",APTO CREDITO\nCASA UBICADA A MEDIA CUADRA DE V...,House,Sale,104.0
999966,VhZaKf7uFS6BvO9tJlinDg==,2020-05-12,2020-08-24,2020-05-12,-34.756637,-58.409145,Argentina,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,6.0,5.0,2.0,95.0,76.0,240000.0,"Casa en Venta en Lomas de zamora oeste, lomas...","Excelente Chalet en venta , la propiedad se en...",House,Sale,104.0
999968,ouIC9qHmNHBPOdSv7d3WwQ==,2020-05-12,2020-05-25,2020-05-12,-34.800888,-58.391336,Argentina,Bs.As. G.B.A. Zona Sur,Almirante Brown,6.0,5.0,2.0,95.0,76.0,210000.0,"Local en Venta en Adrogue, almirante brown U...",CASA EN EXCELENTE UBICACION IDEAL USO COMERCIA...,Commercial premises,Sale,13.0

In [60]:
df10['l1'].unique()

array(['Argentina', 'Uruguay', 'Brasil', 'Estados Unidos'], dtype=object)

In [61]:
df10['l1'] = df10['l1'].map({'Argentina' : 'Argentine', 'Uruguay' : 'Uruguay', 'Brasil' : 'Brazil', 'Estados Unidos' : 'United States'})

In [62]:
df10

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,title,description,property_type,operation_type,days_process
586,G0GOoIHpWAr8eM6Ku7y8yQ==,2021-01-01,2021-01-12,2021-01-01,-34.611445,-58.448442,Argentine,La Pampa,Perú,3.0,3.0,3.0,95.0,76.0,384324.0,Departamento - CHACARILLA,HERMOSO departamento de 220 metros cuadrados e...,Department,Sale,11.0
1280,mg13phdJ3yvt+Du8TJDe/w==,2020-10-12,2020-10-25,2020-10-12,-34.611445,-58.448442,Argentine,La Pampa,Perú,3.0,2.0,1.0,95.0,76.0,355743.0,Terreno - Grocio Prado,"Terreno en Grossio Prado, La Pampa, Perú, por ...",Lot,Sale,13.0
1281,2WOAOu3bpLkBFf33Ny1MSg==,2020-10-12,2020-11-28,2020-10-12,-34.611445,-58.448442,Argentine,La Pampa,Perú,3.0,2.0,1.0,95.0,76.0,337909.0,Se Vende Terreno - Pachacamac,Se vende Terreno (terreno completo) ubicado en...,Lot,Sale,47.0
3053,qrhJMi+6vfSRCH7KMGuKzQ==,2020-11-15,2020-11-22,2020-11-15,-34.611445,-58.448442,Argentine,La Pampa,Perú,3.0,2.0,2.0,95.0,76.0,298405.0,Departamento - Lince,Departamento con Pavimento en Calle Luis Paste...,Department,Sale,7.0
25959,rsvv4oH6n39tWLNdPx+Xxw==,2020-11-27,2021-01-10,2020-11-27,-34.611445,-58.448442,Argentine,La Pampa,Perú,3.0,1.0,1.0,95.0,76.0,627.0,Departamento - Santiago de Surco,Santiago de Surco · $650 · 55 M²· 1dorm· 1baño...,Department,Rental,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999958,hi9ir/kf7am5G37vbb+qow==,2020-05-12,2020-05-20,2020-05-12,-34.599085,-58.449254,Argentine,Capital Federal,Villa Crespo,3.0,5.0,2.0,253.0,150.0,220001.0,Casa de 6 ambientes en Venta en Villa crespo,CASA CON LOCAL EN FUNCIONAMIENTO 2 PLANTAS ES ...,House,Sale,8.0
999961,pxzXDe7cxbiXY+UDpVJoRQ==,2020-05-12,2020-05-25,2020-05-12,-34.800888,-58.391336,Argentine,Bs.As. G.B.A. Zona Sur,Almirante Brown,6.0,5.0,2.0,95.0,76.0,210000.0,"Casa en Venta en Adrogue, almirante brown U$...",CASA EN EXCELENTE UBICACION IDEAL USO COMERCIA...,House,Sale,13.0
999965,arnVUpca2yXSk/sUEgaUgw==,2020-05-12,2020-08-24,2020-05-12,-34.737364,-58.421386,Argentine,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,6.0,5.0,2.0,95.0,76.0,135000.0,"Casa en Venta en Banfield oeste, banfield U$...",APTO CREDITO\nCASA UBICADA A MEDIA CUADRA DE V...,House,Sale,104.0
999966,VhZaKf7uFS6BvO9tJlinDg==,2020-05-12,2020-08-24,2020-05-12,-34.756637,-58.409145,Argentine,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,6.0,5.0,2.0,95.0,76.0,240000.0,"Casa en Venta en Lomas de zamora oeste, lomas...","Excelente Chalet en venta , la propiedad se en...",House,Sale,104.0
999968,ouIC9qHmNHBPOdSv7d3WwQ==,2020-05-12,2020-05-25,2020-05-12,-34.800888,-58.391336,Argentine,Bs.As. G.B.A. Zona Sur,Almirante Brown,6.0,5.0,2.0,95.0,76.0,210000.0,"Local en Venta en Adrogue, almirante brown U...",CASA EN EXCELENTE UBICACION IDEAL USO COMERCIA...,Commercial premises,Sale,13.0

In [63]:
df10 = pd.get_dummies(df10, columns=['property_type','operation_type'])

In [64]:
df10.sample(5)

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,title,description,days_process,property_type_Commercial premises,property_type_Country house,property_type_Department,property_type_Garage,property_type_House,property_type_Lot,property_type_Office,property_type_Other,property_type_Property Horizontal,property_type_Warehouse,operation_type_Rental,operation_type_Sale,operation_type_Temporary rental
910646,PlVHwzpZpUG9CRjU9lCTew==,2020-03-18,2020-03-19,2020-03-18,-38.203097,-57.691849,Argentine,Buenos Aires Costa Atlántica,Miramar,3.0,2.0,2.0,95.0,76.0,62000.0,AMPLIO PH 3 AMBIENTES CON PARQUE SOBRE AMPLIO ...,"EN COLONIA CHAPADMALAL, FRENTE AL HOTEL N° 2, ...",1.0,0,0,0,0,0,0,0,1,0,0,0,1,0
180246,3DDsTeTaghZ1FNTYqMfVEA==,2020-04-12,2020-04-12,2020-04-12,-38.010888,-57.541955,Argentine,Buenos Aires Costa Atlántica,Mar del Plata,3.0,2.0,1.0,95.0,76.0,56000.0,"Monoambiente con Balcon, Muy lindo","Departamento de 1 ambiente, frente al Shopping...",0.0,0,0,0,0,0,0,0,1,0,0,0,1,0
184027,nxs5tRrIhWpgfMTzY7CRUg==,2020-07-14,2020-07-23,2020-07-14,-32.719258,-60.732500,Argentine,Santa Fe,San Lorenzo,4.0,3.0,2.0,170.0,170.0,98.0,Casa - Puerto Gral San Martin,"Casa de 3 dormitorios, living (posibilidad de ...",9.0,0,0,0,0,1,0,0,0,0,0,1,0,0
570689,Pwp9sA+bIS5W5yd/ZGfIIQ==,2020-03-02,2020-03-10,2020-03-02,-34.878057,-58.050216,Argentine,Bs.As. G.B.A. Zona Sur,La Plata,3.0,2.0,1.0,70.0,70.0,120000.0,Casa - City Bell,DUPLEX EN IMPECABLE ESTADO EN INMEJORABLE UBIC...,8.0,0,0,0,0,1,0,0,0,0,0,0,1,0
780055,9z8cXy63WqoKN8p9XmGbjg==,2020-03-21,2020-05-06,2020-03-21,-34.774860,-58.398531,Argentine,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,5.0,4.0,3.0,95.0,76.0,370000.0,"Casa en Venta en Temperley oeste, temperley ...",Importante Chalet a 100mts de la estacion de T...,46.0,0,0,0,0,1,0,0,0,0,0,0,1,0

In [65]:
df11 = df10.drop(columns=['l2','l3','title','description','id','start_date','end_date','created_on'])

In [66]:
df12 = pd.get_dummies(df11, columns=['l1'])

In [67]:
df12

,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,days_process,property_type_Commercial premises,property_type_Country house,property_type_Department,property_type_Garage,property_type_House,property_type_Lot,property_type_Office,property_type_Other,property_type_Property Horizontal,property_type_Warehouse,operation_type_Rental,operation_type_Sale,operation_type_Temporary rental,l1_Argentine,l1_Brazil,l1_United States,l1_Uruguay
586,-34.611445,-58.448442,3.0,3.0,3.0,95.0,76.0,384324.0,11.0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
1280,-34.611445,-58.448442,3.0,2.0,1.0,95.0,76.0,355743.0,13.0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
1281,-34.611445,-58.448442,3.0,2.0,1.0,95.0,76.0,337909.0,47.0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
3053,-34.611445,-58.448442,3.0,2.0,2.0,95.0,76.0,298405.0,7.0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
25959,-34.611445,-58.448442,3.0,1.0,1.0,95.0,76.0,627.0,44.0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999958,-34.599085,-58.449254,3.0,5.0,2.0,253.0,150.0,220001.0,8.0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
999961,-34.800888,-58.391336,6.0,5.0,2.0,95.0,76.0,210000.0,13.0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
999965,-34.737364,-58.421386,6.0,5.0,2.0,95.0,76.0,135000.0,104.0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
999966,-34.756637,-58.409145,6.0,5.0,2.0,95.0,76.0,240000.0,104.0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
999968,-34.800888,-58.391336,6.0,5.0,2.0,95.0,76.0,210000.0,13.0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X = df12.drop(columns='price')
y = df12['price']

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .70, random_state = 42)

In [71]:
X_train.shape

(492095, 25)

In [72]:
X_test.shape

(210899, 25)

In [73]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet

In [74]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [75]:
Model_1 = LinearRegression(fit_intercept=False)

In [76]:
Model_1.fit(X_train, y_train)

LinearRegression(fit_intercept=False)

In [77]:
y_pred_tr = Model_1.predict(X_train)

In [78]:
r2_score(y_train, y_pred_tr)

0.10149904403754306

In [79]:
mean_absolute_error(y_train, y_pred_tr)

104424.90514800815

In [80]:
mean_squared_error(y_train, y_pred_tr)

112734657156.83136

In [81]:
np.sqrt(mean_squared_error(y_train, y_pred_tr))

335759.82064093277

In [82]:
y_pred_ts = Model_1.predict(X_test)

In [83]:
r2_score(y_test, y_pred_ts)

-0.00022482568610038278

In [84]:
mean_absolute_error(y_test, y_pred_ts)

151965.4174792824

In [85]:
mean_squared_error(y_test, y_pred_ts)

474366365829852.4

In [86]:
np.sqrt(mean_squared_error(y_test, y_pred_ts))

21779953.30182901

In [87]:
def Eva_Matrix(Model,X, y_true):
    y_pred = Model.predict(X)
    R2 = r2_score(y_true, y_pred)
    MAE = mean_absolute_error(y_true, y_pred)
    MSE = mean_squared_error(y_true, y_pred)
    RMSE = np.sqrt(MSE)
    return R2, MAE, MSE, RMSE

In [88]:
r2_train, MAE_train, MSE_train, RMSE_train = Eva_Matrix(Model_1, X_train, y_train)

In [89]:
r2_test, MAE_test, MSE_test, RMSE_test = Eva_Matrix(Model_1, X_test, y_test)

In [90]:
data = {
    'Training' : [r2_train, MAE_train, MSE_train, RMSE_train],
    'Testing' : [r2_test, MAE_test, MSE_test, RMSE_test]
}

In [91]:
pd.DataFrame(data=data, index = ['R2', 'MAE', 'MSE', 'RMSE'])

          Training       Testing
R2    1.014990e-01 -2.248257e-04
MAE   1.044249e+05  1.519654e+05
MSE   1.127347e+11  4.743664e+14
RMSE  3.357598e+05  2.177995e+07

In [92]:
def Eva_Matrix_DF(Model,X_train, X_test, y_train, y_test, Nama):
    y_pred_tr = Model.predict(X_train)
    R2_tr = r2_score(y_train, y_pred_tr)
    MAE_tr = mean_absolute_error(y_train, y_pred_tr)
    MSE_tr = mean_squared_error(y_train, y_pred_tr)
    RMSE_tr = np.sqrt(MSE_tr)
    y_pred_ts = Model.predict(X_test)
    R2_ts = r2_score(y_test, y_pred_ts)
    MAE_ts = mean_absolute_error(y_test, y_pred_ts)
    MSE_ts = mean_squared_error(y_test, y_pred_ts)
    RMSE_ts = np.sqrt(MSE_ts)
    data = {
        'Training' + Nama : [R2_tr, MAE_tr, MSE_tr, RMSE_tr],
        'Testing' + Nama : [R2_ts, MAE_ts, MSE_ts, RMSE_ts]}
    df = pd.DataFrame(data=data, index = ['R2', 'MAE', 'MSE', 'RMSE'])
    return df

In [93]:
df_LinReg = Eva_Matrix_DF(Model_1, X_train, X_test, y_train, y_test, 'LinReg')

In [94]:
df_LinReg

      TrainingLinReg  TestingLinReg
R2      1.014990e-01  -2.248257e-04
MAE     1.044249e+05   1.519654e+05
MSE     1.127347e+11   4.743664e+14
RMSE    3.357598e+05   2.177995e+07

In [95]:
Model_2 = Lasso()

In [96]:
Model_2.fit(X_train, y_train)

C:\Users\ryana\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.828e+14, tolerance: 6.174e+12
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [97]:
df_Lasso = Eva_Matrix_DF(Model_2, X_train, X_test, y_train, y_test, 'Lasso')

In [98]:
df_Lasso

      TrainingLasso  TestingLasso
R2     1.014989e-01 -2.248858e-04
MAE    1.044219e+05  1.519626e+05
MSE    1.127347e+11  4.743664e+14
RMSE   3.357599e+05  2.177995e+07

In [99]:
model_3 = Ridge()
model_3.fit(X_train, y_train)
df_Ridge = Eva_Matrix_DF(model_3, X_train, X_test, y_train, y_test, 'Ridge')
df_Ridge

      TrainingRidge  TestingRidge
R2     1.014990e-01 -2.248435e-04
MAE    1.044244e+05  1.519648e+05
MSE    1.127347e+11  4.743664e+14
RMSE   3.357598e+05  2.177995e+07

In [100]:
def Eva_Matrix_Base(model,X_train, X_test, y_train, y_test, Nama):
    Model = model.fit(X_train, y_train)
    y_pred_tr = Model.predict(X_train)
    R2_tr = r2_score(y_train, y_pred_tr)
    MAE_tr = mean_absolute_error(y_train, y_pred_tr)
    MSE_tr = mean_squared_error(y_train, y_pred_tr)
    RMSE_tr = np.sqrt(MSE_tr)
    y_pred_ts = Model.predict(X_test)
    R2_ts = r2_score(y_test, y_pred_ts)
    MAE_ts = mean_absolute_error(y_test, y_pred_ts)
    MSE_ts = mean_squared_error(y_test, y_pred_ts)
    RMSE_ts = np.sqrt(MSE_ts)
    data = {
        'Training' + Nama : [R2_tr, MAE_tr, MSE_tr, RMSE_tr],
        'Testing' + Nama : [R2_ts, MAE_ts, MSE_ts, RMSE_ts]}
    df = pd.DataFrame(data=data, index = ['R2', 'MAE', 'MSE', 'RMSE'])
    return df

In [101]:
df_Enet = Eva_Matrix_Base(ElasticNet(), X_train, X_test, y_train, y_test, 'ElasticNet')

In [102]:
pd.concat([df_LinReg, df_Lasso, df_Ridge, df_Enet], axis=1)

,TrainingLinReg,TestingLinReg,TrainingLasso,TestingLasso,TrainingRidge,TestingRidge,TrainingElasticNet,TestingElasticNet
R2,1.014990e-01,-2.248257e-04,1.014989e-01,-2.248858e-04,1.014990e-01,-2.248435e-04,7.108916e-02,-2.090498e-04
MAE,1.044249e+05,1.519654e+05,1.044219e+05,1.519626e+05,1.044244e+05,1.519648e+05,1.074500e+05,1.550060e+05
MSE,1.127347e+11,4.743664e+14,1.127347e+11,4.743664e+14,1.127347e+11,4.743664e+14,1.165502e+11,4.743589e+14
RMSE,3.357598e+05,2.177995e+07,3.357599e+05,2.177995e+07,3.357598e+05,2.177995e+07,3.413945e+05,2.177978e+07